
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  .paises {
    width: 300px;
    list-style: none;
    color: tan;
    background-color: rgb(55, 51, 45);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    max-width: 50vh;
    box-shadow: 5px 5px 2px black;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.paises h2{
    font-weight: 700;
    font-size: 30px;
    border-bottom: 2px solid tan;
}
.paises p {
    padding: 4px;
    background-color: tan;
    color: rgb(55, 51, 45);
    border-radius: 6px;
}
.paises img{
  max-width: 100px;
  object-fit: contain;
  margin: 0 auto;
  aspect-ratio: 1/1;

}
